.Classic{
   margin: auto;
   margin-top: 50px;


}

.cities{
  width: 1030px;
  display: flex;
  justify-content: space-between;
}



@media (min-width:1100px){
  .Classic{
    max-width: 1100px;
  }
  .cities{

  }
}


@media (min-width:740px){
  .Classic{
    width: 80%;
  }

}


@media (max-width: 740px){

  .Classic{
    width: 90%;
  }
}
