.progressBar{
  display: flex;
  margin-top:80px;
}

.progressBar .bar{
  height: 2px;
  background: rgba(200, 214, 229,0.3);
  margin-left: 5px;
  width: 40px;
  position: relative;
  z-index: 0;
}

.progressBar .active div{
  position: absolute;
  left: 0;
  top: 0px;
  width: 0;
  height: 2px;
  background-color:white;
  z-index: 1;
  animation-name: baranimation;
  animation-iteration-count:infinite;
  animation-timing-function: ease;
  animation-duration: 10s;
}

@keyframes baranimation{
  0% { width: 0;}

  100%{ width: 100%;}
}
