.Footer{
   margin: auto;
}

.Sep{
  border-bottom: 1px #cccc solid;
}

.airbnb_icon{
  font-size: 120%;
}

.Bottom{
  display: grid;
  grid-template-columns: 2% 80% 18%;
}

.Bottom div:first-child{
  transform: translateY(50%);
}

.text{
  margin-left: 10px;
}
.text p{
  margin-bottom: 0;
}

.columns{
  display: flex;
  justify-content: space-between;
  width: 90%;
}



@media (min-width:1100px){
  .Footer{
    max-width: 1100px;
  }
}


@media (min-width:740px){
  .Footer{
    width: 80%;
  }
}


@media (max-width: 740px){

  .Footer{
    width: 90%;
  }
}
